---
layout: default
title: About
---

<h1> About</h1>
<p class="message">
  Welcome to my github.io! This is where I currently am hosting my projects and assignments.
</p>
<p>My name's Rokas and I am currently a 3rd year Bachelor student in Information Technology at Vilnius University.</p>
<p>Start exploring my work by clicking on the sidebar links!<br>
    (CG) - Computer Graphics </p>
<h1>Contacts</h1>

<p>You can email me at malukasrokas@gmail.com</p>
<p>You can also see my work at my <a href="https://github.com/malukasrokas/">Github page</a></p>


<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
